@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3BACB6;
}

.headerImg  {
  padding-top: 3rem;
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 150px; 
  height: 120px; 

}